<ion-view title="Home">
    <ion-content>
            <div class="card">
                <div class="item item-text-wrap">
                    <p>This is the LastFlag prototype built by PURE Money Systems.
                        LastFlag is a research project, primarily studying social dynamics in the new digital asset economy.
                        Create new digital assets and trade them with other members.
                        All digital assets conform to Open Transactions standards and future releases of
                        LastFlag will allow export & import with other Open Transactions-compliant systems.</p>
                    <br>
                    <p align="center">
                        <a ui-sref="login">Login</a>
                        <span>&nbsp;&nbsp;</span>
                        <a ui-sref="register">Register for a free account</a></p>
                </div>
            </div>

    </ion-content>
</ion-view>
