<ion-view title="Login">
    <ion-content>
        <br><br>
        <div class="card">
            <div class="list list-inset">
                <label class="item item-input">
                    <span class="input-label">Username:</span>
                    <input type="text" name="username" ng-model="credentials.username">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password:</span>
                    <input type="password" name="password" ng-model="credentials.password">
                </label>
            </div>

            <button class="button button-positive" style="margin:10px;width:150px">Login</button>
        </div>
    </ion-content>
</ion-view>