<ion-modal-view>
    <ion-header-bar>
        <button class="button button-icon icon ion-arrow-left-c" ng-click="closeAllModals()">Back</button>
        <h1 class="title">New Currency</h1>
        <button class="button button-clear button-positive" ng-click="closeAllModals()">Save</button>
    </ion-header-bar>
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Currency Name">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="3-character abbreviation">
            </label>
        </div>
    </ion-content>
</ion-modal-view>