<div class="list list-inset">
    <label class="item item-input item-select">
        <div class="input-label">To</div>
        <select ng-model="newTransactionDetails.destinationAccountID" ng-options="oneAccount.id as oneAccount.name for oneAccount in allSendToAccounts"></select>
    </label>
    <label class="item item-input">
        <input type="text" placeholder="Send Amount"
               ng-model="newTransactionDetails.amount"
               ng-currency
                   min="1"
                   max="currentAccount.balance"
                   currencySymbol="currentAccount.currency.tla">
    </label>
    <label class="item item-input">
        <input type="text" placeholder="Comment" ng-model="newTransactionDetails.memo">
    </label>
</div>